/* font-family: 'Roboto', sans-serif;

    font-family: 'Open Sans', sans-serif;

    font-family: 'Roboto Condensed', sans-serif;

    font-family: 'Oswald', sans-serif; */

/*HEADER*/

body {
  margin: auto;
  color: rgb(138, 137, 137);
}

header {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.icon {
  background: no-repeat center 10% rgba(253, 253, 253);
  width: 100%;
  height: 90px;
  text-transform: uppercase;
}

h1 {
  color: #17A2B8;
  text-align: center;
  font-size: 55px;
}

/*FIN HEADER*/

.game {
  margin-top: 100px;
  display: flex;
}

/* .choice-animal {
  display: flex;
  justify-content: center;
} */

.model {
  border-radius: 6px 6px 6px 6px; 
  border: 1px solid #17A2B8;
  width: 25%;
  height: 500px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 10px;
}

.text1{
  font-weight: 20px;
  font-weight:bold;
}

.text2{
  font-weight: 20px;
  color:#17A2B8;
  font-weight:bold;
}
.play {
  border-radius: 6px 6px 6px 6px; 
  border: 1px solid #17A2B8;
  width: 45%;
  height: 500px;
  margin-left: 10px;
  /* margin:auto; */
}

.eye-g {
  z-index: 1;
}

.girafe {
  width: 70%;
  background-size: 100%;
  margin-top: 50px;
  margin-left: 35px;
  background-repeat: no-repeat;
  background-position: center;
}

.girafe-n-b {
  width: 55%;
  margin-left: 120px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.eyeTrap {
  width: 30%;
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center;
}

.necklace-g {
  width: 18%;
  background-size: 50%;
  background-repeat: no-repeat;
}

.mouth-g {
  width: 12%;
  background-size: 50%;
  background-repeat: no-repeat;
}

.eye-g {
  width: 31%;
  background-size: 50%;
  background-repeat: no-repeat;
}

.choice {
  border-radius: 6px 6px 6px 6px; 
  border: 1px solid #17A2B8;
  width: 30%;
  height: 500px;
  margin-left: 10px;
}

.phrase {
  margin: auto;
  width :340px;
  color: #17A2B8;
  font-weight: bold;
  font-size:28px;
}

/*LES BOUTONS*/

#btn-animal{
  margin: 20px;
}
.new1 {
  width: 80px;
}

.new2 {
  width: 100px;
}

/*CHRONOMETRE*/

.progress-bar {
  width: 900px;
  height: 20px;
  background-color: #e6e6e6;
  border-radius: 12px;
  margin: -560px auto;
  padding: 1px;
}

.progress {
  width: 456px;
  height: 19px;
  background-color: #17A2B8;;
  border-radius: 10px;
}